@import "../../styles";

.container {
  margin-bottom: 48px;

  .brand {
    font-size: 2rem;
    margin-left: 24px;
  }

  .logout {
    cursor: pointer;
    color: $secondaryColor;

    &:hover {
      color: $primaryColor;
    }

    span {
      margin-right: 8px;
    }
  }
}